.wrapper {
    position: relative;
    width: 1200px;
    height: 45px;

}

.input {
    border-radius: 20px;
    background: white;
    outline: none;
    border: none;
    height: 45px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 50px;
    color: #3F3F3F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    top: 15px;
}

#logo {
    z-index: 1;
    scale: 1.2;
}
