@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #7A7A7A;
}


.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #ADADAD;
    pointer-events: all;
    margin: 5px;
    cursor: pointer;
}


.wrapper {
    margin-top: 10px;
    margin-bottom: 36px;
    position: relative;
    pointer-events: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.text {
    pointer-events: all;
    cursor: pointer;
}

.active {
    margin: 8px;
    border-radius: 3px;
    position: absolute;
    width: 9px;
    height: 9px;
    border: 1px solid #7A7A7A;
    background-color: #7A7A7A;
}

