@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.Button {
    width: 404px;
    height: 44px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    color: #303030;
    text-align: center;
    font-family: 'Gilroy-regular', sans-serif;
    font-size: 20.544px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: background-color 0.3s, color 0.3s;
}

.Button:hover {
    background-color: #fcff78;
    color: #303030;
}




