.words {
    overflow-y: scroll;
    grid-gap: 15px;
    display: flex;
    flex-direction: column;
    height: 500px;

    width: 320px;
}

/* For Webkit browsers like Chrome and Safari */
.words::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */

}

.words::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 20px;
}
.words::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 20px;
}


.add {
    position: relative;
    width: 100px;
    height: 100px;
}