@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.progressBox {
    position: relative;
    width: 182px;
    height: 182px;
    margin: 8px;
}
.progressBox svg
{
    position: relative;
    width: 182px;
    height: 182px;
    transform: rotate(0.75turn);

}
.progressBox svg circle
{

    fill: none;
    stroke-width: 20px;
    transform: translate(10px, 10px);
    stroke-dasharray: 507;
    stroke-linecap: round;
}

.progressBox .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progressBox .number .big {
    color: #7A7A7A;
    font-family: 'Gilroy-medium', sans-serif;
    text-align: center;
    font-size: 45.428px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.progressBox .number .little {
    color: #7A7A7A;
    font-family: 'Gilroy-medium', sans-serif;
    font-size: 18.929px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}