.tag {
    font-size: min(12dvw, 10dvh);
    text-align: center;
    color: #7A7A7A;
    line-height: 0;
    margin: 0;
    font-family: Gilroy-Bold;
}

.tag:last-child {
    color: #5280DB;
}

.container {
    /*background: #91cc7c;*/
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}