.wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2dvw;
}

.text {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 12dvw;
    letter-spacing: -0.02em;
    color: #7A7A7A;
}
