.component {
    display: flex;
    gap: 25px;
    align-items: center;
}

.loadingText {
    font-size: 35px;
}

.loadingWrapper {
    height: calc(90dvh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
