.component {
    display: flex;
    gap: 25px;
    align-items: center;
}

.loadingText {
    font-size: 35px;
}

.loadingWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100dvh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
