:root {
    --imagesWidth: 71%;
}

.container {
    width: 1200px;
    height: 800px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;

    /*transform: scale(1);*/
}

.errorMessage {
    color: #5f8eed;
    /*text-indent: 50px;*/
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 24px;
    width: 800px;
    transform: translate(-50%, -50%);
    text-align: justify; /* Выравнивание текста по ширине */
    text-indent: 40px;
}

.imagesWrapper {
    width: var(--imagesWidth);
}

.buttonWrapper {
    grid-gap: 20px;
    padding: 25px;
    display: flex;
    justify-content: end;
}

.cancelButton {
    color: #5f8eed;
    box-shadow: none;
}