@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    width: 150px;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
}
.wrapper:hover {
    background-color: #EDEDED;
}

.Adidas {

}

.imageWrapper {
    height: 100%;
    width: 80%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img {
    width: 120%;
    height: 120%;
}

.arrow {
    transform: translateX(-12px);
}
