.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.centerWrapper {
    position: absolute;
    width: 100%;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: min(4dvw, 4dvh);
    height: min(770px, 95dvh);
    /*height: 770px;*/
}