@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


.mainFont {
    font-family: 'Gilroy-regular', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #7A7A7A;

    text-align: center;
}

.titleFont {
    font-family: 'Gilroy-medium', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #7EA2FF;
}

.unimportantFont {
    font-family: 'Gilroy-regular', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #7A7A7A;
}